In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
df_nulos = pd.read_csv("world-data-2023_part1_pair.csv", index_col = 0)
df_nulos.head(1)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,lat,long
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.7,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953

1. Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

In [3]:
df_nulos.isnull().sum()

country                               0
density                               0
abbreviation                          7
agriculturalland                      7
landarea                              1
armedforcessize                      24
birthrate                             6
callingcode                           1
capital/majorcity                     3
co2-emissions                         7
cpi                                  17
cpichange                            16
currency-code                        15
fertilityrate                         7
forestedarea                          7
gasolineprice                        20
gdp                                   2
grossprimaryeducationenrollment       7
grosstertiaryeducationenrollment     12
infantmortality                       6
largestcity                           6
lifeexpectancy                        8
maternalmortalityratio               14
minimumwage                          45
officiallanguage                      5
outofpockethealthexpenditure          7
physiciansperthousand                 7
population                            1
populationlaborforceparticipation    19
taxrevenue                           26
totaltaxrate                         12
unemploymentrate                     19
urban_population                      5
lat                                   0
long                                  0
dtype: int64

2. Selección de Método de Imputación: Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

3. Imputación de Valores Nulos: Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.

4. Informe: Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.

In [4]:
(df_nulos.isnull().sum() / df_nulos.shape[0]) * 100

country                               0.000000
density                               0.000000
abbreviation                          3.589744
agriculturalland                      3.589744
landarea                              0.512821
armedforcessize                      12.307692
birthrate                             3.076923
callingcode                           0.512821
capital/majorcity                     1.538462
co2-emissions                         3.589744
cpi                                   8.717949
cpichange                             8.205128
currency-code                         7.692308
fertilityrate                         3.589744
forestedarea                          3.589744
gasolineprice                        10.256410
gdp                                   1.025641
grossprimaryeducationenrollment       3.589744
grosstertiaryeducationenrollment      6.153846
infantmortality                       3.076923
largestcity                           3.076923
lifeexpectancy                        4.102564
maternalmortalityratio                7.179487
minimumwage                          23.076923
officiallanguage                      2.564103
outofpockethealthexpenditure          3.589744
physiciansperthousand                 3.589744
population                            0.512821
populationlaborforceparticipation     9.743590
taxrevenue                           13.333333
totaltaxrate                          6.153846
unemploymentrate                      9.743590
urban_population                      2.564103
lat                                   0.000000
long                                  0.000000
dtype: float64

In [6]:
df_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country                            195 non-null    object
 1   density                            195 non-null    object
 2   abbreviation                       188 non-null    object
 3   agriculturalland                   188 non-null    float64
 4   landarea                           194 non-null    object
 5   armedforcessize                    171 non-null    object
 6   birthrate                          189 non-null    float64
 7   callingcode                        194 non-null    float64
 8   capital/majorcity                  192 non-null    object
 9   co2-emissions                      188 non-null    object
 10  cpi                                178 non-null    object
 11  cpichange                          179 non-null    float64
 12  currency-code                      180 non-null    object
 13  fertilityrate                      188 non-null    float64
 14  forestedarea                       188 non-null    float64
 15  gasolineprice                      175 non-null    float64
 16  gdp                                193 non-null    object
 17  grossprimaryeducationenrollment    188 non-null    float64
 18  grosstertiaryeducationenrollment   183 non-null    float64
 19  infantmortality                    189 non-null    float64
 20  largestcity                        189 non-null    object
 21  lifeexpectancy                     187 non-null    float64
 22  maternalmortalityratio             181 non-null    float64
 23  minimumwage                        150 non-null    float64
 24  officiallanguage                   190 non-null    object
 25  outofpockethealthexpenditure       188 non-null    float64
 26  physiciansperthousand              188 non-null    float64
 27  population                         194 non-null    object
 28  populationlaborforceparticipation  176 non-null    float64
 29  taxrevenue                         169 non-null    float64
 30  totaltaxrate                       183 non-null    float64
 31  unemploymentrate                   176 non-null    float64
 32  urban_population                   190 non-null    object
 33  lat                                195 non-null    object
 34  long                               195 non-null    object
dtypes: float64(19), object(16)
memory usage: 54.8+ KB

In [5]:
df_nulos_1 = pd.DataFrame((df_nulos.isnull().sum() / df_nulos.shape[0]) * 100, columns = ["%_nulos"])

df_nulos_1[df_nulos_1["%_nulos"] > 0]

                                     %_nulos
abbreviation                        3.589744
agriculturalland                    3.589744
landarea                            0.512821
armedforcessize                    12.307692
birthrate                           3.076923
callingcode                         0.512821
capital/majorcity                   1.538462
co2-emissions                       3.589744
cpi                                 8.717949
cpichange                           8.205128
currency-code                       7.692308
fertilityrate                       3.589744
forestedarea                        3.589744
gasolineprice                      10.256410
gdp                                 1.025641
grossprimaryeducationenrollment     3.589744
grosstertiaryeducationenrollment    6.153846
infantmortality                     3.076923
largestcity                         3.076923
lifeexpectancy                      4.102564
maternalmortalityratio              7.179487
minimumwage                        23.076923
officiallanguage                    2.564103
outofpockethealthexpenditure        3.589744
physiciansperthousand               3.589744
population                          0.512821
populationlaborforceparticipation   9.743590
taxrevenue                         13.333333
totaltaxrate                        6.153846
unemploymentrate                    9.743590
urban_population                    2.564103